/***************************************
Buttons
***************************************/

.filterButtons {

	right: 15px;
	/*this is due to using position absolute for vertical centering*/

	a {
		color: white;
		text-decoration: none;
	}

	li {
		text-decoration: none;
		display: inline-block;
		margin-left: 8px;
		letter-spacing: 0.15em;

		border: 1px solid white;
		border-radius: 4px;
		padding: 5px;
	}
}

#buttons {
	display: none;
}

a.active {
	color: $bg-grey;
}

li.topics {
	border: 1px solid $bg-grey;
}


/***************************************
Media Queries
***************************************/


/* Mid to large width screens */

@media only screen and (max-width: 1000px) {

	#buttons {
		width: 300px;
	}

	li {
		margin-bottom: 4px;
	}

}


/* Medium width screens */

@media only screen and (max-width: 720px) {
	/*hide the filter buttons until mobile functionality is produced*/
	ul.filterButtons {
		display: none;
	}

}









