/***************************************
Variables
***************************************/

$bg-grey: #424242;
$blue-theme-light: hsl(180, 22%, 75%);
$blue-theme: hsl(182, 25%, 50%);
$blue-theme-dark: hsl(182, 25%, 45%);
$blue-theme-darker: hsl(183, 25%, 35%);

