/***************************************
Variables
***************************************/

$bg-grey: #424242;
$blue-theme: cadetblue;

/***************************************
Resets
***************************************/

body, ul, h1, h2, h3 {
	margin: 0;
}

a {
	text-decoration: none;
}

/***************************************
Tools
***************************************/

.centre-vertical {
	/* Make parent div relative */
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/***************************************
Physical Styling
***************************************/

.bg-container {
	margin: 0;
	width: 100%;
	position: fixed;
	height: 100vh;
}

.container {
	margin: 0 auto;
	position: relative;
	z-index: 5;
}

header {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 100px;
	position: fixed;
	top: 0;
	z-index: 10;
}

.icon {
	height: 70px;
	border-radius: 50%;	
	box-shadow: 0px 3px 3px $bg-grey;
}

.content {

	margin-top: 100px;
	padding-top: 20px;
}

.post {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	padding: 15px;
	max-width: 800px;
}

.article-title, .date {
	padding-top: 2px;
	padding-bottom: 2px;
}

.date {
	border-bottom: 1px solid $bg-grey;
}

.article-title {
	margin-bottom: 20px;
}

.article {
	position: relative;
}

.post-photo {
	float: left;
	width: 200px;
	margin: 0 20px 10px 0;
}

nav ul li {
	text-decoration: none;
	display: inline-block;
	padding-left: 20px;
	letter-spacing: 0.15em;
}

nav {
	 display: inline-block;
	 margin-left: 50px;
}

.nav-image {
	margin-left: 20px;
}

footer {
	position: relative;
	z-index: 10;
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
}

.contact ul li {
	display: inline-block;
	padding-left: 25px;


}

/***************************************
Design Styling
***************************************/

@import url('https://fonts.googleapis.com/css?family=Montserrat:300');

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.1em;
}

.bg-container {
	background: url("images/bg-zigzag.png") repeat center center;
	opacity: 0.5;
}

header {
	background: $blue-theme;
	color: white;
	font-size: 1.2em;
	font-weight: bold;
	box-shadow: 0px 3px 3px $bg-grey;
}

header a, header a:visited, .contact a, .contact a:visited {
	color: white;
}

p>a, p>a:visited {
	color: $bg-grey;
	font-weight: bold;
}

header a:hover, .contact a:hover {
	color: $bg-grey;
}

p>a:hover {
	background: pink;
}

.post {
	box-shadow: 3px 3px 3px $bg-grey;
	background: #ffffff;
	border: 1px solid lightgrey;
}

.date {
	color: $blue-theme;
}

.article {
	color: grey;
}

footer {
	background: $blue-theme;
	font-size: 1.4em;
}

footer ul {
	padding-left: 0;
}


