/***************************************
Variables
***************************************/
/***************************************
Resets
***************************************/
@import url("https://fonts.googleapis.com/css?family=Montserrat:300");
body, ul, h1, h2, h3 {
  margin: 0; }

a {
  text-decoration: none; }

/***************************************
Tools
***************************************/
.desktop-centre-vertical {
  /* Make parent div relative */
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

/***************************************
Physical Styling
***************************************/
.bg-container {
  margin: 0;
  width: 100%;
  position: fixed;
  height: 100vh; }

.container {
  margin: 0 auto;
  position: relative;
  z-index: 5; }

header {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  z-index: 10; }

.down-arrow {
  display: none; }

.icon {
  height: 70px;
  border-radius: 50%;
  box-shadow: 0px 3px 3px #424242; }

.content {
  margin-top: 100px;
  padding-top: 20px; }

.post {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  padding: 15px;
  max-width: 800px; }

.article-title, .date {
  padding-top: 2px;
  padding-bottom: 2px; }

.date {
  border-bottom: 1px solid #424242; }

.article-title {
  margin-bottom: 20px; }

.article {
  position: relative; }

.post-photo {
  float: left;
  width: 200px;
  margin: 0 20px 10px 0; }

nav ul li {
  text-decoration: none;
  display: inline-block;
  padding-left: 20px;
  letter-spacing: 0.15em; }

nav {
  display: inline-block;
  margin-left: 105px; }

.nav-image {
  margin-left: 20px; }

footer {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center; }

.contact ul li {
  display: inline-block;
  padding-left: 25px; }

/***************************************
Design Styling
***************************************/
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1em; }

.bg-container {
  background: url("images/bg-zigzag.png") repeat center center;
  opacity: 0.5; }

header {
  background: cadetblue;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  box-shadow: 0px 3px 3px #424242; }

header a, header a:visited, .contact a, .contact a:visited {
  color: white; }

p > a, p > a:visited {
  color: #424242;
  font-weight: bold; }

header a:hover, .contact a:hover {
  color: #424242; }

p > a:hover {
  background: pink; }

.post {
  box-shadow: 3px 3px 3px #424242;
  background: #ffffff;
  border: 1px solid lightgrey; }

.date {
  color: cadetblue; }

.article {
  color: grey; }

footer {
  background: cadetblue;
  font-size: 1.4em; }

footer ul {
  padding-left: 0; }

/***************************************
Media Queries
***************************************/
/* Medium width screens */
@media only screen and (max-width: 850px) {
  .post {
    max-width: 600px; } }
/* Small width screens */
@media only screen and (max-width: 375px) {
  .post {
    max-width: 300px; }

  .post-photo {
    width: 300px;
    margin: 0 0 16px 0; }

  header {
    height: 100vh;
    position: inherit;
    font-size: 1.8em; }

  .bg-container {
    top: 0;
    z-index: -1; }

  .mobile {
    left: 50%;
    transform: translate(-50%, -50%); }

  .nav-bar {
    margin-left: 0;
    top: 60%;
    width: 300px;
    text-align: center;
    line-height: 1.8em; }

  .nav-image {
    margin-left: 0;
    top: 30%; }

  .icon {
    height: 200px; }

  .name {
    border-bottom: 1px solid #424242; }

  .down-arrow {
    display: block;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%); }

  .content {
    margin-top: 0; }

  footer {
    height: 60px;
    line-height: 60px;
    font-size: 2.4em; } }

/*# sourceMappingURL=styles.css.map */
